.password-component

  .item
    width: 48px
    height: 48px
    border: 1px solid #666666
    border-radius: 4px
    text-align center
    margin: 10px
    font-size: 30px
    color: transparent
    text-shadow: 0 0 0 black

    &::selection {
      background: transparent
    }

    &::-moz-selection {
      background: transparent
    }

    &::-webkit-selection {
      background: transparent
    }